<html>
  <head>
    <title>Experimental Software</title>
  </head>
	
<div style="margin: 4% 4% 4% 4%">

<p><strong><center>Consent Form</center></strong></p>
<p>&nbsp;</p>
<p><strong>Title of Experiment: </strong><span style="font-weight: 400;">Are matrix-based or node-link graphs more readable when representing causal relationships for social and health data?</span></p>
<p>&nbsp;</p>
<ol>
<li><span style="font-weight: 400;">I</span> <span style="font-weight: 400;">confirm that I have read and understand the Information sheet for the above study and have had the opportunity to ask questions.</span></li>
</ol>
<p>&nbsp;</p>
<ol start="2">
<li><span style="font-weight: 400;">I understand that my participation is voluntary and that I am free to withdraw at any time, without giving any reason, and am free to omit answering any particular question, without providing a reason.</span></li>
</ol>
<p>&nbsp;</p>
<ol start="3">
<li><span style="font-weight: 400;">I give consent for my actions to be recorded during the study. </span></li>
</ol>
<p>&nbsp;</p>
<ol start="4">
<li><span style="font-weight: 400;">I understand that all data collected from me will be treated confidentially, will be seen in its raw form only by the experimenters, and if published will not be identifiable as coming from me.</span></li>
</ol>
<p>&nbsp;</p>
<ol start="5">
<li><span style="font-weight: 400;">I understand that I should not log in to, or use, any personal web-based services on supplied devices during the course of the experiment, as all usage is being recorded and this could compromise my privacy.</span></li>
</ol>
<p>&nbsp;</p>
<p><strong><span style="font-weight: 400;">By clicking &ldquo;Agree&rdquo; you agree to take part in the above study.</span></strong></p>

  <div class="btn-group btn-group-lg" role="start">
  <a href="/training" type="button" class="btn btn-default" style="background-color:#E6FFE6; background-image: none">Agree</a>
</div>

</div>

  
</html>