<html>
  <head>
    <title>Experimental Software</title>
  </head>

<form class="navbar-form navbar-left" role="search" style="margin-top: 14%; padding: 7% 7%; background-color: #e6ffe6; border: 1px; border-radius: 9px;">
  <div class="form-group">
  <p> Please sign in to this Experimental Software with the login details given to you by Kristina Lazarova. Thank you! </p>
  <label> Username </label>
    <input type="username" class="form-control" ></br></br>
  <label> Password </label>
  <input type="password" class="form-control" ></br></br>
  <button type="submit" class="btn btn-default" style="float:right">Submit</button>
  </div>
</form>

</html>