<html>
  <head>
    <title>Experimental Software</title>
  </head>
	
	< <div style=" overflow:auto;margin:4% 4% 4% 4%;border: 2px solid #ccc;">
  
  <table class="table table-striped">
  <thead>
    <tr>
      <th>ParticipantID</th>
      <th>Age</th>
      <th>Nationality</th>
      <th>Studying</th>
      <!-- add more questions dinamically depending on what's in the DB -->
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1234</th>
      <td>19</td>
      <td>English</td>
      <td>Maths</td>
    </tr>
    <tr>
      <th scope="row">1234</th>
        <td>19</td>
      <td>English</td>
      <td>Maths</td>
    </tr>
    <tr>
      <th scope="row">1234</th>
              <td>19</td>
      <td>English</td>
      <td>Maths</td>
    </tr>
  </tbody>
</table>
<a href="#">Export as csv</a>
</div>

</html>