 <div ng-app="myApp" ng-controller="questionnaireAnswersCtrl">
 <div style=" overflow:auto;margin:4% 4% 2% 2%;border: 2px solid #ccc;">
  
  <table class="table table-striped">
  <thead>
    <tr>
      <!-- Table fields -->
      <th>ParticipantID</th>
      <th>Email</th>
      <th>Name</th>
      <th>Age</th>
      <th>Studying</th>
    </tr>
  </thead>
  <tbody>
    <!-- display data for each record -->
    <tr ng-repeat="record in answers">
      <th scope="row" ng-bind="record.participant_id"></th>
      <td>{record.email}</td>
      <td>{record.participant_name}</td>
      <td>{record.age}</td>
      <td>{record.uni_degree}</td>
    </tr>
  </tbody>
</table>
</div>
</div>

<script src="js/questionnaire-answers-controller.js"></script> 