<div ng-app="myApp" ng-controller="myCtrl">
  
<form style="margin-top:4%;border: 2px solid #ccc; border-radius: 4px; padding: 3% 3%;">

<div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
    40% Complete
  </div>
</div>

<div>
<img ng-src="{question.image}"></img>

  <fieldset class="form-group">
    <legend ng-bind="question.question"> </legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1">
        <span ng-bind="question.one"></span>        
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2" >
        <span ng-bind="question.two"></span> 
      </label>
    </div>
  <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
       <span ng-bind="question.three"></span> 
      </label>
    </div>
  <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios4" value="option4">
        <span ng-bind="question.four"></span> 
      </label>
    </div>
    
  </fieldset>
  <button class="btn btn-default navbar-btn" ng-click="nextQuestion()">Next</button>


</form>
</div>
</div>
<script src="js/questions_controller.js"></script>
<img ng-src="/img/{{ image }}"></img></br> 