<div ng-app="myApp" ng-controller="myCtrl">
<head>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
        <div style="height: 760px; width: 880px">
          <img ng-src="img/{question.image}" style="height: auto; width: auto" ></img>
        </div>  
      </div>
    <div class="col-sm-4">
    <form id="form" style="margin-top:97%; padding: 2% 2%;">
    <fieldset class="form-group" id="form-group">
      <legend ng-bind="question.question"> </legend>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" ng-click="nextQuestion()" id="optionsRadios1" ng-value="question.one">
          <span ng-bind="question.one"></span>        
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" ng-click="nextQuestion()" id="optionsRadios2" ng-value="question.two" >
          <span ng-bind="question.two"></span> 
        </label>
      </div>
    <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" ng-click="nextQuestion()" id="optionsRadios3" ng-value="question.three" >
         <span ng-bind="question.three"></span> 
        </label>
      </div>
    <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" ng-click="nextQuestion()" id="optionsRadios4" ng-value="question.four" >
          <span ng-bind="question.four"></span> 
        </label>
      </div>
    </fieldset>
  </form>
</div>
</div>
 </div>
    </div>
    </div>
    </div>
    </div>
<script src="js/questions_controller_type0.js"></script> 