<html>
  <head>
    <title>Experimental Software</title>
  </head>
 <div style=" overflow:auto;margin:4% 4% 4% 4%;border: 2px solid #ccc;">
  
  <table class="table table-striped">
  <thead>
    <tr>
      <th>ParticipantID</th>
      <th>Q1</th>
      <th>Q1 time</th>
      <th>Q2</th>
      <th>Q2 time</th>
      <th>Q3</th>
      <th>Q3 time</th>
      <th>Q4</th>
      <th>Q4 time</th>
     
      <!-- add more questions dinamically depending on what's in the DB -->
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1234</th>
      <td>-</td>
      <td>1.23</td>
      <td>+</td>
      <td>1.23</td>
      <td>-</td>
      <td>1.23</td>
      <td>+</td>
      <td>1.23</td>
            <td>+</td>
      <td>1.23</td>
            <td>+</td>
      <td>1.23</td>
    </tr>
    <tr>
      <th scope="row">1234</th>
      <td>-</td>
      <td>1.23</td>
      <td>+</td>
      <td>1.23</td>
      <td>-</td>
      <td>1.23</td>
      <td>+</td>
      <td>1.23</td>
            <td>+</td>
      <td>1.23</td>
            <td>+</td>
      <td>1.23</td>
      
    </tr>
    <tr>
      <th scope="row">1234</th>
      <td>-</td>
      <td>1.23</td>
      <td>+</td>
      <td>1.23</td>
      <td>-</td>
      <td>1.23</td>
      <td>+</td>
      <td>1.23</td>
            <td>+</td>
      <td>1.23</td>
            <td>+</td>
      <td>1.23</td>
    </tr>

  </tbody>
</table>
<a href="#">Export as csv</a>
</div>

</html>