<div ng-app="myApp" ng-controller="myCtrl">
<head>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
        <div style="height: 760px; width: 880px">
          <img ng-src="img/{question.image}" style="height: auto; width: auto" ></img>
        </div>  
      </div>
    <div class="col-sm-4">
    <form id="form" style="margin-top:97%; padding: 2% 2%;">
    <fieldset class="form-group" id="form-group">
      <!---<legend ng-bind="question.question"> </legend> -->
      <legend>Consider the highlighted path. What bias does the node in blue indroduce for this path?
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" ng-click="nextQuestion()" id="collider" value="collider">
          <span>collider</span>        
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" ng-click="nextQuestion()" id="confounder" value="confounder">
          <span>confounder</span> 
        </label>
      </div>
    <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" ng-click="nextQuestion()" id="none" value="none">
         <span>none</span> 
        </label>
      </div>
    </fieldset>
  </form>
</div>
</div>
 </div>
    </div>
    </div>
    </div>
    </div>
<script src="js/questions_controller_type0.js"></script> 