
 <div ng-app="myApp" ng-controller="researchAnswersCtrl">
 <div style=" overflow:auto;margin:4% 4% 4% 4%;border: 2px solid #ccc;">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Participant Id</th>
      <th>Question Id</th>
      <th>Answer</th>
      <th>Time</th> 
    </tr>
  </thead>
  <tbody >
    <tr ng-repeat="record in answers">
      <td scope="row" ng-bind="record.participant_id"></td>
      <td ng-bind="record.question_id"> </td>
      <td ng-bind="record.answer"> </td>
      <td ng-bind="record.time"> </td>
    </tr>
    
  </tbody>
</table>
</div>
</div>
<script src="js/research-answers-controller.js"></script> 
