<html>
  <head>
    <title>Experimental Software</title>
  </head>
 <div style="margin: 4% 4% 4% 4%">
  <p> Dear Participant, thank you for taking part in this experiment. If you have any questions please don't hesitate to ask.</p>

  <p> This research aims to examine readability of visualisations of causal relationships. We examine two different data graphs: node-link and matrix-based representations. The purpose of this study is find out which of those techniques is more reable for people of the social and health sector.</p>

  </div>
</html>