<html>
  <head>
    <title>Experimental Software</title>
  </head>
	
<center><h1>Training</h1></center></p>
<center><video controls>
  <source src="img/training.webm" type="video/webm">
Your browser does not support the video tag.
</video></center>

	<div style="margin: 4% 4% 4% 4%">
 	<p><span style="font-weight: 400;">Node-link graphs are graphs made of vertices and edges. Those graphs are used to represent</span><strong><em> causal relationship </em></strong><span style="font-weight: 400;">between two or more variables. The node-link graph displayed in figure 1.1 has two vertices : &ldquo;having fun&rdquo; and &ldquo;good memories&rdquo;, and one edge between them which points towards &ldquo;good memories&rdquo;. When reading this graph one would say: &ldquo;Having fun causes good memories&rdquo;.</span></p>
<p>&nbsp;</p>
<img src="/img/trainging11.PNG"></img>
	
	<p><span style="font-weight: 400;">Those graphs are also used to show </span><strong><em>causal paths</em></strong><span style="font-weight: 400;"> or</span><strong><em> indirect relationships</em></strong><span style="font-weight: 400;"> between factors. For example Figure 1.2 shows that &ldquo;playing games&rdquo; causes &ldquo;having fun&rdquo; which causes &ldquo;good memories&rdquo;. At the same time &ldquo;playing games&rdquo; causes &ldquo;procrastination&rdquo;, which causes &ldquo;dissatisfaction&rdquo;. These are two different </span><strong>causal paths</strong><span style="font-weight: 400;">. Therefore, &ldquo;playing games&rdquo; </span><strong>indirectly causes</strong><span style="font-weight: 400;"> &ldquo;dissatisfaction&rdquo; and &ldquo;good memories&rdquo;.</span></p>
<p><br /><br /></p>
	<img src="/img/training12.PNG"></img>

	<p><span style="font-weight: 400;">The same information can also be displayed in a </span><strong>matrix-based graph </strong><span style="font-weight: 400;">(Figure 1.3). The darker squares on the matrix show that the row factor (horizontal label, on the left) is causing the column factor (vertical label, at an angle). For example, &ldquo;playing games&rdquo; (horizontal) causes &ldquo;having fun&rdquo; (vertical). Then if we are looking for a path we will look for factors that are caused by &ldquo;having fun&rdquo;. In order to do this we find the &ldquo;having fun&rdquo; factor on the left and will find the column factor that it is connected with, which is &ldquo;good memories&rdquo;. This way the same causal path is found: playing games -&gt; having fun -&gt; good memories. </span></p>
<p><br /><br /></p>
<img src="/img/training13.PNG"></img>
<p><br /><br /></p>

<p><span style="font-weight: 400;">To see that one factor can lead to different causal paths, we need to find the row factor that has more than one darker square. In this example, this is playing games. Please, find the the row &ldquo;playing games&rdquo; and find what are two different factors that it can lead to. As previously mentioned those are &ldquo;having fun&rdquo; and &ldquo;procrastination&rdquo;.</span></p>
<p><span style="font-weight: 400;">If you still have any questions regarding reading how to read those graphs please ask the researcher in the room for help.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Otherwise, you can proceed to start the experiment.</span></p>
<p><br /><br /></p>

  <div class="btn-group btn-group-lg" role="start">
  <a href="/research-questions-type0" type="button" class="btn btn-default" style="background-color:#E6FFE6; background-image: none">Go</a>
</div>

</div>

  
</html>