<html>
  <head>
    <title>Experimental Software</title>
  </head>
	
	<div style="margin: 4% 4% 4% 4%">
  <embed src="img/training.pdf" width="900" height="700" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
  <div class="btn-group btn-group-lg" role="start">
  <button type="button" class="btn btn-default" style="background-color:#E6FFE6; background-image: none">Go</button>
</div>

</div>

  
</html>