<html>
  <head>
    <title>Experimental Software</title>
  </head>
	
	<div style="margin: 4% 4% 4% 4%">

 <p><span style="font-weight: 400;">Dear participant,</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">You are invited to participate in a study examining readability in graphs showing causal relationships. The experiment will start with a short training session where you will be shown two types of graphs: </span><strong>node-link graph</strong><span style="font-weight: 400;"> and </span><strong>matrix-based graph</strong><span style="font-weight: 400;">. An explanation of how to interpret and understand these graphs will follow. The training is there to help you understand the information that is being displayed. Don&rsquo;t hesitate to ask the researcher if you have any questions regarding the graphs. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">After the training you will be asked to fill in a short questionnaire. Then the experiment will start. You will be asked to look at different graphs and answer the questions related to them. Make sure to read the questions carefully and give the most accurate answer. You will be given multiple choice questions with four possible answers. Only </span><strong>one </strong><span style="font-weight: 400;">of those is correct.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The experiment will take around 30 min. Please remember that you can discontinue your participation at any time. </span></p>
<p>&nbsp;</p>

  <div class="btn-group btn-group-lg" role="start">
  <a href="/consent-form" type="button" class="btn btn-default" style="background-color:#E6FFE6; background-image: none">Next</a>
</div>

</div>

  
</html>